ID: {{ object.album_id }}<br>
Title: {{ object.album_title }}<br>
Handle: {{ object.album_handle }}<br>
URL: {{ object.album_url }}<br>
Type: {{ object.album_type }}<br>
Artist: {{ object.album_artist_name }}<br>
Producer: {{ object.album_producer }}<br>
Engineer: {{ object.album_engineer }}<br>
Information: {{ object.album_information }}<br>
Date Released: {{ object.album_date_released }}<br>
Comments: {{ object.album_comments }}<br>
# of Favorites: {{ object.album_favorites }}<br>
# of Tracks: {{ object.album_tracks }}<br>
# of Listens: {{ object.album_listens }}<br>
Date Created: {{ object.album_date_created }}<br>
Image File: {{ object.album_image_file }}<br>