{% extends 'base.html' %}



{% block body %}

<!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Album Details<br>
                    <small>
                        {% if user.is_anonymous %}
                            <a href="{% url 'login_view' %}">login</a>
                        {% else %}
                            {{ user }}
                            </br>
                            <a href="{% url 'logout_view' %}?next=/">logout</a>
                        {% endif %}
                    </small>
                </h1>
            </div>
        </div>    
    </div>

<div class="container">
ID: {{ object.album_id }}<br>
<strong>Title: {{ object.album_title }}</strong><br>
<br>
Information: {{ object.album_information|safe }}<br>
<br>
<br>
Date Released: {{ object.album_date_released }}<br>
Date Created: {{ object.album_date_created }}<br>
<br>
<a href="{{ object.album_url }}"><img src="{{ object.album_image_file.url }}" height="200px" width="200px"></a><br>
</div>
{% endblock body %}