ID: {{ object.artist_id }}<br>
Handle: {{ object.artist_handle }}<br>
URL: {{ object.artist_url }}<br>
Name: {{ object.artist_name }}<br>
Bio: {{ object.artist_bio }}<br>
Members: {{ object.artist_members }}<br>
Artist Website: {{ object.artist_website }}<br>
Wikipedia Page: {{ object.artist_wikipedia_page }}<br>
Donation URL: {{ object.artist_donation_url }}<br>
Contact: {{ object.artist_contact }}<br>
Active Year Begin: {{ object.artist_active_year_begin }}<br>
Active Year End: {{ object.artist_active_year_end }}<br>
Related Projects: {{ object.artist_related_projects }}<br>
Releated Labels: {{ object.artist_related_labels }}<br>
Comments: {{ object.artist_comments }}<br>
# of Favorites: {{ object.artist_favorites }}<br>
Flattr Name: {{ object.artist_flattr_name }}<br>
Paypal Name: {{ object.artist_paypal_name }}<br>
Image File: {{ object.artist_image_file }}<br>
Location: {{object.artist_location }}<br>