{% extends 'base.html' %}
{% block body %}

<!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Genre Details<br>
                    <small>
                        {% if user.is_anonymous %}
                            <a href="{% url 'login_view' %}">login</a>
                        {% else %}
                            {{ user }}
                            </br>
                            <a href="{% url 'logout_view' %}?next=/">logout</a>
                        {% endif %}
                    </small>
                </h1>
            </div>
        </div>    
    </div>

<div class="container">
Genre: {{ object.genre_title }}<br>
Genre Handle: {{ object.genre_handle }}<br>
ID: {{ object.genre_id }}<br>
</div>
{% endblock body %}