{% extends 'base.html' %}
{% block body %}

<!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Genre List<br>
                    <small>
                        {% if user.is_anonymous %}
                            <a href="{% url 'login_view' %}">login</a>
                        {% else %}
                            {{ user }}
                            </br>
                            <a href="{% url 'logout_view' %}?next=/">logout</a>
                        {% endif %}
                    </small>
                </h1>
            </div>
        </div>    
    </div>

<!--{{ object_list }}

<br><br>


custom context name
{% for genre in genres %}

{{ genre.genre_title }}<br>


{% endfor %}-->


<!-- default context name -->

<div class="container">
{% for object in object_list %}

<a href="/genre_detail/{{ object.genre_handle }}/">{{ object.genre_title }}</a>
<br>

{% endfor %}
</div>
{% endblock body %}
