{% extends 'base.html' %}
{% block body %}

<!-- Page Content -->
    <div class="container">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Track Details<br>
                    <small>
                        {% if user.is_anonymous %}
                            <a href="{% url 'login_view' %}">login</a>
                        {% else %}
                            {{ user }}
                            </br>
                            <a href="{% url 'logout_view' %}?next=/">logout</a>
                        {% endif %}
                    </small>
                </h1>
            </div>
        </div>    
    </div>

<div class="container">
ID: {{ object.track_id }}<br>
Track Title: <strong>{{ object.track_title }}</strong><br>
<a href="{{ object.track_url }}">Listen Here!</a><br>
<br>
<br>
Album: <a href="/album_detail/{{ tracks.album }}">{{ object.album }}</a><br>
License Title: {{ object.license_title }}<br>
License URL: <a href="{{ object.license_url }}">{{ object.license_url }}</a><br>
Language Code: {{ object.track_language_code }}<br>
Track Duration: {{ object.track_duration }}<br>
Track Number: {{ object.track_number }}<br>
Track Disc Number: {{ object.track_disc_number }}<br>
Explicit: {{ object.track_explicit }}<br>
Explicit Notes: {{ object.track_explicit_notes }}<br>
Copyright C: {{ object.track_copyright_c }}<br>
Copyright P: {{ object.track_copyright_d }}<br>
Composer: {{ object.track_composer }}<br>
Lyricist: {{ object.track_lyricist }}<br>
Publisher: {{ object.track_publisher }}<br>
Instrumental: {{ object.track_instrumental }}<br>
Track Information: {{ object.track_information }}<br>
Date Recorded: {{ object.track_date_recorded }}<br>
Bit Rate: {{ object.track_bit_rate }}<br>
Date Created: {{ object.track_date_recorded }}<br>
</div>

{% endblock body %}